target/
.project
.classpath
.settings/
/.idea/
*.iml
*.log
*.class
.DS_Store
/.mvn/
bin/
.cache/
*.jar
*.war
*.ear
logs/
*.keystore
*.p12
*.jks
/src/main/resources/config/application.properties
/src/main/resources/config/database.properties
/src/main/resources/config/security.properties
SafeNotes.db